<h3>Nieuw vak aanmaken</h3>


<form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name">Naam*</label>
    <input type="text" class="form-control"
           formControlName="name"
           name="name"
           id="name">
    <div [hidden]="!name?.invalid || !name?.dirty"
         class="alert alert-danger">
          Naam is verplicht
    </div>
  </div>

  <div class="mb-3">
    <label for="name">Beschrijving*</label>
    <input  id="description"
            name="description"
            formControlName="description"
            type="text"
            class="form-control">
    <div [hidden]="!description?.invalid || !description?.dirty"
         class="alert alert-danger">
      Beschrijving is verplicht
    </div>
  </div>
    <button type="submit" [disabled]="!addCourseForm.valid" class="btn btn-primary" >Aanmaken</button>
</form>

