<style>

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="60"
    alt="School planner logo"
    src="assets/images/spring-notebook-60.png"
  />
  <span style="font-size: 26px">De school planner</span>

  <ul class="top-navigation-links">
    <li>
      <a [routerLink]="['/'+getTenantName()+'/kalender']" [routerLinkActive]="['is-active']" >
        <div class="top-navigation-links-wrapper-1">
          <div class="top-navigation-links-wrapper-2">
            <div>
              Kalender
            </div>
          </div>
        </div>
      </a>
    </li>
    <li><a  [routerLink]="['/'+getTenantName()+'/vakken']" [routerLinkActive]="['is-active']">
      <div class="top-navigation-links-wrapper-1">
        <div class="top-navigation-links-wrapper-2">
          <div>
            Vakken
          </div>
        </div>
      </div>

    </a></li>
  </ul>
</div>

<div class="content" role="main">
  <div style="width: 100%">
    <router-outlet></router-outlet>
  </div>
</div>
