<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Planning toevoegen</h4>
    <button
            type="button"
            class="btn-close"
            aria-label="Close button"
            aria-describedby="modal-title"
            (click)="dismiss()"
    ></button>
</div>
<div class="modal-body">

    <form [formGroup]="addPlanningForm">
        <div class="container">
            <div class="mb-3 row">
                <div class="col">
                    <label for="taskId">Taak*</label>
                    <ng-container *ngIf="calendarTasks$ | async as calendarTasks">
                        <select  class="form-select" aria-label="Taak"
                                 formControlName="taskId"
                                name="taskId"
                                id="taskId"
                                 (change)="selectCalendarTask()"
                                required>
                          <optgroup value="0" label="Niet geplande taken">
                            <option [ngValue]="calendarTask.task.id" *ngFor="let calendarTask of calendarTasks.notFullyPlannedTasks">
                                ({{calendarTask.course.name}}) {{calendarTask.task.name}} {{calendarTask.task.dueDate}}
                            </option>
                          </optgroup>
                          <optgroup value="0" label="Geplande taken">
                            <option [ngValue]="calendarTask.task.id" *ngFor="let calendarTask of calendarTasks.fullyPlannedTasks">
                                ({{calendarTask.course.name}}) {{calendarTask.task.name}} {{calendarTask.task.dueDate}}
                            </option>
                          </optgroup>
                          <optgroup value="0" label="Overige">
                            <option [ngValue]="calendarTask.task.id" *ngFor="let calendarTask of calendarTasks.nonPlannableTasks">
                                ({{calendarTask.course.name}}) {{calendarTask.task.name}} {{calendarTask.task.dueDate}}
                            </option>
                          </optgroup>
                        </select>

                        <div [hidden]="!taskId?.invalid || !taskId?.dirty"
                             class="alert alert-danger">
                            Taak is verplicht
                        </div>
                        <ng-container *ngIf="selectedCalendarTask as calendarTask">
                            <div style="margin-top: 10px">
                                {{calendarTask.task.description}}

                            </div>
                            <div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [style.width] = totalPlannedDoneWidth(calendarTask) [attr.aria-valuenow]=calendarTask.totalPlannedDone aria-valuemin="0" [attr.aria-valuemax]=calendarTask.task.totalEffort>
                                        {{calendarTask.totalPlannedDone}}/{{calendarTask.task.totalEffort}}
                                    </div>
                                    <div class="progress-bar bg-warning" role="progressbar" [style.width] = effortWidth(currentEffort(calendarTask),calendarTask) [attr.aria-valuenow]=calendarTask.totalPlannedNotDone aria-valuemin="0" [attr.aria-valuemax]=calendarTask.task.totalEffort>
                                        {{currentEffort(calendarTask)}}/{{calendarTask.task.totalEffort}}
                                    </div>
                                    <div class="progress-bar bg-danger" role="progressbar" [style.width] = effortWidth(remainingEffort(calendarTask),calendarTask) [attr.aria-valuenow]=calendarTask.totalPlannedNotDone aria-valuemin="0" [attr.aria-valuemax]=calendarTask.task.totalEffort>
                                        {{remainingEffort(calendarTask)}}/{{calendarTask.task.totalEffort}}
                                    </div>
                                </div>
                            </div>
                            </ng-container>

                    </ng-container>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label for="description">Beschrijving*</label>
                    <input id="description"
                           name="description"
                           formControlName="description"
                           type="text"
                           class="form-control">
                    <div [hidden]="!description?.invalid || !description?.dirty"
                         class="alert alert-danger">
                        Beschrijving is verplicht
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label for="effort">gepland werk*</label>
                    <input id="effort"
                           name="effort"
                           formControlName="effort"
                           type="number"
                           style="width: 100px;"
                           min="0"
                           class="form-control">
                    <div [hidden]="!effort?.invalid || !effort?.dirty"
                         class="alert alert-danger">
                        Gepland werk is verplicht
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="dismiss()">Annuleren</button>
    <button type="button" ngbAutofocus [disabled]="!addPlanningForm.valid" class="btn btn-primary" (click)="confirm()">Toevoegen</button>
</div>


