.calendar-table{
  display: grid;
  grid-template-columns: 1fr 80%;
}

.calendar-table .calendar-column {
  border-top: 1px solid #e0e0e0;
  padding: 5px 10px;
  line-height: 30px;
}

.calendar-table .calendar-column.has-tasks {

}

.calendar-table .calendar-first-column {
  font-weight: bolder;
}

.calendar-table .is-today{
  background-color: #e9f5f4;
  padding-top:10px;
  padding-bottom: 10px;
}

.is-exam,
.is-exam a,
.is-exam a:visited,
.is-exam a:hover{
  color: limegreen!important;
}

.calendar-table .calendar-first-column.is-today {
  border-left: 2px solid #288be3;
  font-size: 20px;
}

.calendar-table .calendar-last-column.is-today {
  border-right: 2px solid #288be3;
}

.calendar-table .calendar-header-column{
  ppadding: 5px 10px;
  line-height: 30px;
  font-weight: bolder;
}

.calendar-table .calendar-column.is-monday {
  border-top: 2px solid #288be3;
}

.calendar-table .calendar-column.is-monday {
  border-top: 2px solid #288be3;
}

a.inline-link{
  cursor: pointer;
}

a.inline-link:hover{
  text-decoration: underline;
}

.task-table{
  display: grid;
  grid-template-columns: auto 270px;
}

.planning-done{
  opacity: 60%;
  font-size: 12px;
}

.planning-done a{
  text-decoration: line-through;
}




